:root {
    --color-primary:#32a9ff;
    --color-secondary:#60bbfd;
    --color-tertiary:#ffffff;
    --color-shadow:rgba(0,0,0,.33);
    --color-warning:#ffa31a;
    --color-error:#e60000;
    --heading-font-size:20px;
    --button-font-size:20px;
    --border-radius-size:10px;
    --box-shadow:0 4px 4px rgba(0,0,0,.33);
    --default-padding:20px;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/ttf/inter-regular.ttf') format('truetype'),
        url('../fonts/eot/inter-regular.eot') format('embedded-opentype'),
        url('../fonts/woff/inter-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/ttf/inter-bold.ttf') format('truetype'),
        url('../fonts/eot/inter-bold.eot') format('embedded-opentype'),
        url('../fonts/woff/inter-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Inter', 'sans-serif';
    font-size:15px;
    color:var(--color-primary);
    background:var(--color-secondary);
    position:relative;
}

nav {
    background-color:var(--color-primary);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    box-shadow:var(--box-shadow);
    width:100vw;
    height:100px;
}

#nav-buttons {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    flex-grow:1;
}

#nav-buttons input {
    margin-right:var(--default-padding);
}

#login-form {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: center;
}

button {
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    color:var(--color-primary);
    background:var(--color-tertiary);
    font-size:var(--button-font-size);
    padding:15px 30px;
    box-shadow:var(--box-shadow);
    cursor: pointer;
}

#logo {
    color:var(--color-tertiary);
    text-shadow:var(--box-shadow);
    font-size:var(--heading-font-size);
    font-weight:bold;
    flex-grow:1;
}

content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

content > section {
    height:calc(100vh - 100px);
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.titlebar-box {
    width:500px;
    background:var(--color-tertiary);
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:var(--box-shadow);
}

.titlebar-box section {
    padding:var(--default-padding);
}

.titlebar {
    width:100%;
    background:var(--color-primary);
    color:var(--color-tertiary);
    padding:var(--default-padding);
    border-top-left-radius:var(--border-radius-size);
    border-top-right-radius:var(--border-radius-size);
}

.buttons-container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;;
}

label {  
    font-size:var(--heading-font-size);
    font-weight:bold;
}

#registration label, #registration input { 
    display:block;
    width:100%;
    margin-bottom:15px; 
}

input {
    padding:15px;
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:inset 0 10px 10px #e7e7e7;
    background:var(--color-tertiary);
}

input.error {
    border:1px solid var(--color-error);
}

.modal {
    position:absolute;
    top:50%;
    left:50%;
    min-width:250px;
    min-height:100px;
    transform:translate(-50%, -50%);
    background:var(--color-tertiary);
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:var(--box-shadow);
    padding-bottom:var(--default-padding);
}

.modal.warning, .modal.warning button {
    border:1px solid var(--color-warning);
    color:var(--color-warning);
}

.modal.warning > .titlebar {
    background:var(--color-warning);
}

.modal.error, .modal.error button {
    border:1px solid var(--color-error);
    color:var(--color-error);
}

.modal.error > .titlebar {
    background:var(--color-error);
}

.modal-body {
    padding:var(--default-padding);
}