:root {
    --color-primary:#32a9ff;
    --color-secondary:#60bbfd;
    --color-tertiary:#ffffff;
    --color-shadow:rgba(0,0,0,.33);
    --color-warning:#ffa31a;
    --color-error:#e60000;
    --heading-font-size:20px;
    --button-font-size:20px;
    --border-radius-size:10px;
    --box-shadow:0 4px 4px rgba(0,0,0,.33);
    --default-padding:20px;
}
@font-face {
    font-family: "Inter";
    src: url('../fonts/ttf/inter-regular.ttf') format('truetype'),
        url('../fonts/eot/inter-regular.eot') format('embedded-opentype'),
        url('../fonts/woff/inter-regular.woff') format('woff');
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/ttf/inter-bold.ttf') format('truetype'),
        url('../fonts/eot/inter-bold.eot') format('embedded-opentype'),
        url('../fonts/woff/inter-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    font-family:'Inter', 'sans-serif';
    font-size:15px;
    color:var(--color-primary);
    background:var(--color-secondary);
    display:flex;
    flex-direction:column;
    overflow-x:hidden;
}

nav {
    background-color:var(--color-primary);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding:20px;
    box-shadow:var(--box-shadow);
}

nav svg {
    color:var(--color-tertiary);
    font-size:30px;
    cursor: pointer;
}

h1 {
    font-size:var(--heading-font-size);
    font-weight:bold;
}

button {
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    color:var(--color-primary);
    background:var(--color-tertiary);
    font-size:var(--button-font-size);
    padding:15px 30px;
    box-shadow:var(--box-shadow);
    cursor: pointer;
}

content {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:flex-start;
    padding:var(--default-padding);
    flex-wrap:wrap;

}

content > section {
    display:flex;
    flex-direction:column;
    justify-content:center;
}

label, input {
    display:block;
    width:100%;
    margin-bottom:15px;
}

label {  
    font-size:var(--heading-font-size);
    font-weight:bold;
}

input {
    padding:15px;
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:inset 0 10px 10px #e7e7e7;
    background:var(--color-tertiary);
}

#nav-buttons {
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    align-items: center;
    flex-grow:1;
}

#nav-buttons input {
    margin-right:var(--default-padding);
}

#logo {
    color:var(--color-tertiary);
    text-shadow:var(--box-shadow);
    font-size:var(--heading-font-size);
    font-weight:bold;
    flex-grow:1;
}

#login {
    margin-right:var(--default-padding);
}

#player-score {
    font-size:var(--heading-font-size);
    font-weight:bold;
    text-shadow:var(--box-shadow);
    color:var(--color-tertiary);
}

.title {
    font-size:var(--heading-font-size);
    margin-bottom:var(--default-padding);
}

.titlebar-box {
    width:500px;
    background:var(--color-tertiary);
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:var(--box-shadow);
}

.titlebar-box section {
    padding:var(--default-padding);
}

.titlebar {
    width:100%;
    display:flex;
    justify-content:space-between;
    background:var(--color-primary);
    color:var(--color-tertiary);
    padding:var(--default-padding);
    border-top-left-radius:var(--border-radius-size);
    border-top-right-radius:var(--border-radius-size);
    text-shadow:var(--box-shadow);
}

.buttons-container {
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;;
}

.error-message {
    background:var(--color-error);
    color:var(--color-tertiary);
    font-weight:bold;
    padding:var(--default-padding);
    margin-bottom:var(--default-padding);
}

input.error {
    border:1px solid var(--color-error);
}

.modal {
    position:absolute;
    top:50%;
    left:50%;
    min-width:250px;
    min-height:100px;
    transform:translate(-50%, -50%);
    background:var(--color-tertiary);
    border-radius:var(--border-radius-size);
    border:1px solid var(--color-primary);
    box-shadow:var(--box-shadow);
    padding-bottom:var(--default-padding);
    display:block;
}

.modal.question-modal {
    min-width:500px;
}

.modal.warning, .modal.warning button {
    border:1px solid var(--color-warning);
    color:var(--color-warning);
}

.modal.warning > .titlebar {
    background:var(--color-warning);
}

.modal.error, .modal.error button {
    border:1px solid var(--color-error);
    color:var(--color-error);
}

.modal.error > .titlebar {
    background:var(--color-error);
}

.modal-body {
    padding:var(--default-padding);
}

.modal-separator {
    color:var(--color-primary);
    margin:var(--default-padding) 0;
}

/**** GAMEBOARD STYLES ****/
#gameboard-container {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content:space-around;
    align-items: stretch;
    width:100vw;
    margin-top:var(--default-padding);
}

.category-container {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: flex-start;
}

.game-square {
    width:15vw;
    border:1px solid var(--color-tertiary);
    background:var(--color-primary);
    color:var(--color-tertiary);
    border-radius:var(--border-radius-size);
    padding:var(--default-padding);
    font-weight:bold;
    text-align:center;
    margin-bottom:var(--default-padding);
}

div.game-square {
    cursor: pointer;
}

.game-square.hidden {
    border:none;
    background:var(--color-secondary);
    color:var(--color-secondary);
    cursor:default;
}

.arrow {
    font-size:50px;
    color:var(--color-tertiary);
    position:fixed;
    top:50%;
    
    cursor:pointer;
    text-shadow:var(--box-shadow);
    display:none;
}
#arrow-right {
    right:var(--default-padding);
}

#arrow-left {
    left:var(--default-padding);
}

/*** GAME OVER STYLES ***/
content#game-over {
    flex-direction: column;
    align-items:center;
}

#final-score-container {
    margin-top:var(--default-padding);
    color:var(--color-tertiary);
    text-align:center;
}

#final-score-container h1 {
    font-size:30px;
}

#final-score {
    color:var(--color-tertiary);
    font-size:85px;
    font-weight:bold;
    text-align:center;
}

#final-score-buttons {
    margin-top:var(--default-padding);
}

#final-score-buttons > button {
    display:block;
    width:100%;
    margin:var(--default-padding) 0;
}

@media screen and (max-width:1060px){
    /** HOME STYLES **/
    content {
        flex-direction:column;
        align-content:center;
    }
    #login {
        margin-right:0;
        margin-bottom:var(--default-padding);
    }
    /** GAME STYLES **/
    content#game {
        width:100vw;
        overflow-x:hidden;
        display:block;
    }
    #arrow-left {
        display:block;
    }
    #gameboard-container {
        /*the width needs to be set to the .category-container width + margin(s) x the number of categories*/
        width:1620px;
        display:block;
        position:relative;
        left:0px;
    }
    .category-container {
        display:inline;
        float:left;
        margin-right:var(--default-padding);
        width:250px;
    }
    .game-square {
        width:100%;
    }
}

@media screen and (max-width:570px){
    content section, .titlebar-box {
        width:100%;
    }
    .modal.question-modal {
        width:calc(100%-40px);
    }
}